<!-- inject:css -->
<link rel="stylesheet" href="{{ asset("/dist/components/atoms/button/button.css") }}">
<link rel="stylesheet" href="{{ asset("/dist/components/base/global/global.css") }}">
<link rel="stylesheet" href="{{ asset("/dist/components/global.css") }}">
<link rel="stylesheet" href="{{ asset("/dist/components/tailwind.css") }}">
<!-- endinject -->